@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Nabla&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5rem;
}
.nav {
  height: 10vh;
  background: #222;
  color: white;
  padding: 0.5rem 0;
}
.nav-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.nav-title {
  font-size: 2rem;
  font-weight: 700;
}
.hero {
  min-height: calc(100vh - 10vh);
  background: linear-gradient(
      to right,
      rgba(70, 106, 82, 0.5),
      rgba(133, 84, 46, 0.7)
    ),
    url(./hero-bcg.jpg) center/cover no-repeat;
}
.hero-center {
  max-width: 1170px;
  width: 90vw;
  color: white;
  margin: 0 auto;
  padding: 5rem 0;
}
.hero-center h1 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}
.hero-center p {
  max-width: 50vw;
  margin-bottom: 1.5rem;
}
.hero-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  width: 12rem;
  height: 3rem;
  letter-spacing: 0.25rem;
  padding: 1rem;
}
